<div class="col-md-12 containerphater">
  <div class="card">
    <div class="card-header card-header-sena-azul flex">
      <div class="tittle_card-table">
        <h4 class="card-title mt-0">Empresas</h4>
        <p class="card-category">
          En este apartado podrás ver todas las empresas registradas en el sistema.
        </p>
      </div>
      <div class="button-card-table">
        <button type="button" class="btn btn-success" [routerLink]="['/crearEmpresa']">
          Nueva Empresa
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-verde-sena">
            <tr>
              <th>Nombre</th>
              <th>NIT</th>
              <th>Ciudad</th>
              <th>Telefóno</th>
              <th>Correo</th>
              <th>Dirección</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of Empresas">
              <td>{{ empresa.nombre }}</td>
              <td>{{ empresa.nit_empresa }}</td>
              <td>{{ empresa.Ciudad?.nombre }}</td>
              <td>{{ empresa.telefono }}</td>
              <td>{{ empresa.email }}</td>
              <td>{{ empresa.direccion }}</td>
              <td>
                <div class="container d-flex gap-2">
                  <i 
                    tooltip="Actualizar datos de la empresa {{ empresa.nombre }}"
                    placement="bottom"
                    showDelay="200"
                    class="butonW"
                    [routerLink]="['/editarEmpresa', empresa.id_empresa]"
                  >
                    <span class="fa-solid fa-pen-to-square"></span>
                  </i>
                  <i 
                    tooltip="Eliminar empresa {{ empresa.nombre }}"
                    placement="bottom"
                    showDelay="200"
                    class="butonW"
                    (click)="deleteEmpresa(empresa.id_empresa)"
                  >
                    <span class="fa-solid fa-trash text-danger"></span>
                  </i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
