.containerphater {
    margin-top: 8rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.tittle_card-table{
    flex-direction: column;
    
}
.button-card-table{
    flex-direction: row-reverse;
}

.comtainer{
 
    display: flex;
    direction: column;
}

.butonW{
    margin: 10px;
    width: 40px ;
    height: auto;
    cursor: pointer;
}
.margen1 {
  margin: left 20px;  
}
