<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-sena-azul">
    <h4 class="card-title">Actualizar ciudad</h4>
    <p class="card-category">Edita los datos de <strong>{{data_ciudad.nombre}}</strong></p>
  </div>
  <div class="card-body">
    <form [formGroup]="editarForm">
      <p hidden>{{ editarForm.status | json }}</p>
      
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre de la Ciudad" type="text" formControlName="nombre">
          </mat-form-field>
          <div class="text-danger">
            <label *ngIf="editarForm.get('nombre').hasError('required') && editarForm.get('nombre')?.touched">
              <strong class="text-danger">Campo requerido</strong>
            </label>
            <span *ngIf="editarForm.get('nombre').errors?.maxlength">
              <strong>máximo 100 caracteres</strong>
            </span>
          </div>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona el departamento</mat-label>
            <mat-select formControlName="departamento_id">
              <mat-option *ngFor="let depto of departamentos" [value]="depto.id_departamento">
                {{depto.departamento}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger">
            <label *ngIf="editarForm.get('departamento_id').hasError('required') && editarForm.get('departamento_id')?.touched">
              <strong class="text-danger">Campo requerido</strong>
            </label>
          </div>
        </div>
      </div>

      <button mat-raised-button type="submit" class="btn pull-right" (click)="PostForm(editarForm.value)">
        Actualizar
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
        </div>
        </div>
    </div>