<!-- NAVBAR  -->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">

  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
      aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarS">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a href="#" class="nav-link text-white">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#nosotros" class="nav-link text-white">Nosotros</a>
        </li>
        <li class="nav-item">
          <a href="#lienamientos" class="nav-link text-white">Lineamientos</a>
        </li>
        <li class="nav-item">
          <a href="#contacto" class="nav-link text-white">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" [routerLink]="[ '/login']">Inicar sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR  -->

<!-- CARROUSEL  -->
<div id="carouselE" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselE" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1">
    </button>

    <button type="button" data-bs-target="#carouselE" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2">
    </button>

    <button type="button" data-bs-target="#carouselE" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3">
    </button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../../../../assets/img/sidebar_1.JPG" class="d-block w-100" alt="">
      <div class="carousel-caption">
        <h5>Gestión y seguimiento de aprendices</h5>
        <p>que comenzarán su etapa productiva</p>
        <!-- <a href="#" class="btn btn-primary mt-3">Mas información</a> -->
      </div>
    </div>

    <div class="carousel-item active">
      <img src="../../../../assets/img/sidebar_3.JPG" class="d-block w-100" alt="">
      <div class="carousel-caption">
        <h5>Gestión y seguimiento de aprendices </h5>
        <p>que comenzarán su etapa productiva</p>
        <!-- <a href="#" class="btn btn-primary mt-3">Mas información</a> -->
      </div>
    </div>

    <div class="carousel-item active">
      <img src="../../../../assets/img/sidebar2.PNG" class="d-block w-100" alt="">
      <div class="carousel-caption">
        <h5>Gestión y seguimiento de aprendices </h5>
        <p>que comenzarán su etapa productiva</p>
        <!-- <a href="#" class="btn btn-primary mt-3">Mas información</a> -->
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselE" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previus</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselE" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- END CARROUSEL  -->
<!-- SECTION REQ_CERTIFICACION  -->
<section id="req_certificacion" class="portfolio section-padding">

  <div class="container" data-aos="fade-right">
    <!-- <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center  pb-5">
                    <h2 >REQUISITOS CERTIFICACION</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit Maiores unde.</p>
                </div>
            </div>
        </div> -->

    <div class="row border border-4 rounded">
      <div class="col-12 col-md-12 col-lg-7 mb-3">
        <div class="card mt-3 text-ligth text-center">
          <video src="../../../../assets/video//sena.mp4" controls class="rounded" controls></video>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12 ps-lg-3 mt-md-5">
        <div class="about-text">
          <!-- <h2>CONTRATO DE APRENDIZAJE<br></h2> -->
          <h2>¿Que es un contrato de aprendizaje?</h2>
          <p>Infórmate acerca de los contratos de aprendizaje,tus obligaciónes y deberes, ademas de conocer
            completamente todas las cuestiones importantes para tu etapa productiva</p>
          <!-- <a href="../../../../assets//Ejemplo_excel.xlsx" class="btn btn-success mb-2" download="ejemplo" title="descargar ejemplo">DESCARGAR</a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONSULTA DE PRUEBAS SABER T.I.T -->
<section id="consulta_tit" class="py-5 bg-white">
  <div class="container" data-aos="fade-right">
    <div class="shadow-lg bg-white rounded-4 p-4 align-items-center">
      <div class="row">
        <!-- Texto informativo -->
        <div class="col-lg-7 mb-4 mb-lg-0">
          <div class="about-text">
            <h2 class="about-text">¿Qué son las pruebas saber TyT?</h2>
            <p>
              La prueba Saber TyT, es un examen que deben superar todos los estudiantes próximos a graduarse de sus
              estudios técnicos profesionales o tecnológicos.
              Este examen es de gran importancia puesto que indica el nivel de desarrollo de los conocimientos y
              habilidades de los aprendices.
            </p>
          </div>
        </div>

        <!-- Formulario -->
        <div class="col-lg-5">
          <div class="bg-light p-4 rounded-3 border">
            <h5 class="mb-3">Consulta tu estado para las pruebas saber TyT</h5>
            <form [formGroup]="tytForm">
              <div class="mb-3">
                <label class="form-label">Ingresa tu número de documento</label>
                <input type="number" minlength="8" maxlength="14" class="form-control" formControlName="documento" placeholder="Número de documento">
              </div>
              <button type="submit" [disabled]="!tytForm.valid || !tytForm.dirty" (click)="consultarTyt()"
                class="btn btn-success mb-2">CONSULTAR</button>
            </form>
          </div>
        </div>
      </div>

      <!-- RESPUESTA DE LA CONSULTA -->
      <div class="row mt-md-5 text-center">
          <div *ngIf="resConsulta.aprendiz",else #noRegistrado>
            <div class="d-flex flex-column flex-md-row align-items-center p-4 border rounded-4" style="max-width: 800px; margin: auto;">
            <img src="../../../../assets/img/inscrito-img.png" class="img-fluid mb-3 mb-md-0" style="max-width: 100px;">
            <div class="d-flex flex-column justify-content-center ms-md-4">
              <div class="mb-3">
                <p id="nombre" class="h5 text-dark mb-0">Jeison Reyes</p>
              </div>
              <div class="mb-0">
                <p class="text-muted mb-0">Felicidades, te encuentras inscrito para presentar las pruebas saber TyT.</p>
              </div>
            </div>
            </div>
          </div>

          <div #noRegistrado>
            <div class="d-flex flex-column flex-md-row align-items-center p-4 border rounded-4" style="max-width: 800px; margin: auto;">
            <img src="../../../../assets/img/no-registrado-img.png" class="img-fluid mb-3 mb-md-0" style="max-width: 100px;">
            <div class="d-flex flex-column justify-content-center ms-md-4">
              <div class="mb-0">
                <p class="text-muted mb-0">Lo sentimos, no estas inscrito para presentar la pruebas saber TyT.</p>
                <p class="text-muted mb-0">Si necesitas presentar las pruebas saber TyT realiza lo más pronto posible tu inscripción.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>


<!-- END SECTION REQ_CERTIFICACION  -->


<!-- SECCION DOCUMENTOS  -->
<!-- SECTION OTROS DOCUMENTOS  -->

<section id="nosotros" class="portfolio section-padding">

  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>¿Qué es la etapa productiva?</h2>
          <p>Es muy importante para nosotros que puedas conocer a profundidad una de las etapas <br> cruciales en tu
            proceso de formación.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-4 floating-square">
        <div id="card_doc" class="card text-ligth text-center  pb-2">
          <div class="card-body text-white">
            <div class="img-area mb-4">
              <img src="../../../../assets/img/aprendiz1.JPG" class="img-fluid rounded" alt="">
            </div>
            <!-- <h3>SUBTITULO</h3> -->
            <p class="lead">La etapa productiva del programa de formación es aquella en la cual el Aprendiz
              SENA aplica, complementa, fortalece y consolida sus competencias, en términos
              de conocimiento, habilidades, destrezas, actitudes y valores.</p>
            <!-- <button class="btn  btn-success text-white">Mas informacion</button> -->
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 floating-square">
        <div id="card_doc" class="card text-ligth text-center  pb-2">
          <div class="card-body text-white">
            <div class="img-area mb-4">
              <img src="../../../../assets/img/aprendiz4.JPG" class="img-fluid rounded" alt="">
            </div>
            <!-- <h3>SUBTITULO</h3> -->
            <p class="lead">Es importante recordar que la etapa práctica es un requisito para certificarse
              y que puede realizarse en un tiempo máximo de 2 años, una vez terminada la
              fase lectiva.</p>
            <!-- <button class="btn  btn-success text-white">Mas informacion</button> -->
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 floating-square">
        <div id="card_doc" class="card text-ligth text-center  pb-2">
          <div class="card-body text-white">
            <div class="img-area mb-4">
              <img src="../../../../assets/img/aprendiz2.JPG" class="img-fluid rounded" alt="">
            </div>
            <!-- <h3>SUBTITULO</h3> -->
            <p class="lead">La etapa productiva debe permitirle al Aprendiz aplicar en la resolución de
              problemas reales del sector productivo, los conocimientos, habilidades pertinentes a las competencias del
              programa de formación, asumiendo
              estrategias y metodologías de autogestión.</p>
            <!-- <button class="btn  btn-success text-white">Mas informacion</button> -->
          </div>
        </div>
      </div>


    </div>

  </div>

</section>

<!-- END SECTION OTROS DOCUMENTOS  -->

<!-- SECCION QUIENES SOMOS  -->

<section id="alternativas" class="about section-padding">

  <div class="container" data-aos="fade-left">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-12 mt-md-5">
        <div class="about-img">
          <img src="../../../../assets/img/mi-etapa.png" class="img-fluid rounded-4" alt="">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-12 ps-lg-5 mt-md-5">
        <div class="about-text ">
          <h2 class="text-azul-sena">Alternativas para el desarrollo<br>de La Etapa Productiva</h2>
          <p>Para la realización de la etapa productiva requerida en el proceso de aprendizaje,usted cuenta con las
            siguientes siete (7)
            alternativas:
            Contrato de aprendizaje, Vinculación laboral,Participación en proyectos productivos,Apoyo a entidades
            estatales, ONG y S.A.L, Monitoría.
          </p>
          <a href="../../../../assets/etapa-productiva.pdf" class="btn btn-success mb-2" download="Etapa Productiva"
            title="descargar ejemplo">Mas información</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END SECCION QUIENES SOMOS  -->
<section id="lienamientos" class="services section-padding">
  <div class="container" data-aos="fade-down-left">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>¿Como se desarrolla la etapa productiva?</h2>
          <p>Aprendiz, para desarrollar su estapa productiva usted debe<br>tener en cuenta los siguientes lienamientos.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Permanencia en la etapa productiva</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">1</h3>
              <p class="text-white">Su permanencia en la etapa productiva podrá gestionarse con el acceso a cualquiera
                de
                las alternativas planteadas en este artículo, o la combinación de varias de ellas durante el
                proceso de formación
              </p>
              <!-- <button class="flip-box-button">Learn More</button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Vínculo laboral previo al inicio de la formación</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">2</h3>
              <p class="text-white">Si usted tiene un vínculo laboral previo al inicio de la formación y este no afecta
                las
                actividades establecidas para su el desarrollo de su formación,podrá
                optar por presentar dicho vínculo como etapa productiva.
              </p>
              <!-- <button class="flip-box-button">Learn More</button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Seguimiento a las alternativas de etapa productiva</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">3</h3>
              <p class="text-white">El SENA evaluará periódicamente las diferentes alternativas de etapa productiva como
                parte
                del seguimiento en el marco del mejoramiento continuo, asegurando su
                la calidad en la Formación Profesional Integral.
              </p>
              <button class="flip-box-button" href="#seguimiento">Learn More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Registro de la Etapa productiva</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">4</h3>
              <p class="text-white">Es su responsabilidad gestionar oportunamente su registro en el Sistema de Gestión
                Virtual
                de Aprendices para poder optar por un contrato de aprendizaje y consultar
                periódicamente las oportunidades de contrato de aprendizaje que reportan los empresarios.
              </p>
              <!-- <button class="flip-box-button">Learn More</button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Seguimiento y evaluación de la etapa productiva</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">5</h3>
              <p class="text-white">El seguimiento a la etapa productiva es obligatorio y se realizará de manera virtual
                y
                presencial. Usted elaborará una bitácora quincenal, en la que señalará las actividades
                adelantadas en desarrollo de su etapa productiva.
              </p>
              <!-- <button class="flip-box-button">Learn More</button> -->
            </div>
          </div>
        </div>
      </div>


      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-white">Aprobación de la etapa productiva</h3>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas. -->
              <!-- </p> -->
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </div>
          </div>
          <div class="flip-box-back text-center"
            style="background-image: linear-gradient(180deg, #275dc383 0%, #1d20b683 100%), url('../../../../assets/img/fondo.JPG');">
            <div class="inner color-white">
              <h3 class="flip-box-header text-primary">6</h3>
              <p class="text-white">Si usted no alcanza los resultados de aprendizaje de la etapa productiva se
                realizará un comité de evaluación para emitir los juicios evaluativos
                finales, estos no alcanzan los resultados de su etapa productiva se
                procederá a cancelar la matrícula.
              </p>
              <!-- <button class="flip-box-button">Learn More</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- 
      <div class="col-12 col-md-12 col-lg-4">
        <div id="card_doc"  class="card text-white text-center pb-2">
          <div class="card-body mt-2">
            <h4 class="card-title text-white">Aprobación de la etapa productiva</h4>
            <p class="lead">Si usted no alcanza los resultados de aprendizaje de la etapa productiva se realizará un comité de evaluación para emitir los juicios evaluativos
              finales, estos no alcanzan los resultados de su etapa productiva se
              procederá a cancelar la matrícula.
            </p>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>

<!-- END SECCION DOCUMENTOS  -->



<!-- SECTION SEGUIMIENTO  -->

<section id="seguimiento" class="portfolio section-padding">

  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center  pb-5">
          <h2>SEGUIMIENTO</h2>
          <p>Formato de Bítacora</p>
        </div>
      </div>
    </div>

    <div class="row border border-4 rounded">
      <div class="col-12 col-md-12 col-lg-7 mb-3">
        <div class="card mt-3 text-ligth text-center">
          <video src="../../../../assets//video/Diligenciamientodebitácora2022.mp4" controls class="rounded"
            controls></video>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12 ps-lg-3 mt-md-5">
        <div class="about-text">
          <h3>Formato Bítacoras<br>SENA</h3>
          <p>Conoce como debes llenar completamente tus bítacoras, las cuales permitirán el registro escrito de tus
            tareas y trabajos, ademas de una organización coronológica facilitando los contenidos desarrollados en tu
            etapa practica. </p>
          <a href="../../../../assets/bitacora.xlsx" class="btn btn-success mb-2" download="Bítacora"
            title="descargar Bítacora">DESCARGAR</a>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- END SECTION SEGUIMIENTO  -->






<!-- SECCION TYT  -->

<!-- <section id="tyt" class="about section-padding">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text ">
            <h2 class="text-center">TYT<br>Pruebas</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto dolor reiciendis neque? Minima voluptatibus eligendi, magnam iusto aut esse voluptas minus eum quibusdam, quae vitae, temporibus magni accusantium dicta!</p>
            <form class="row g-3 mt-4">
              <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="18737271">
              </div>
              <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Cedula">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success mb-3">Confirmar identificación</button>
              </div>
            </form>
          </div>
      </div>
        
      </div>
    </div>
  </section> -->
<!-- <div class="col-lg-4 col-md-12 col-12">
          <div class="about-img">
            <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
          </div>
        </div> -->

<!-- END SECCION TYT  -->


<footer class="bg-ligth text-dark pt-5 pb-4">
  <!-- contacto nuevo -->
  <div id="contacto" class="container contacto">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Dirección</div>
          <div class="text-one">Calle 4 # 2-80 Popayán</div>
          <div class="text-two">Carrera 9° No° 71-N-60</div>
        </div>

        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Líneas gratuitas de atención</div>
          <div class="text-one">018000910270</div>
          <div class="text-two">018000910682</div>
        </div>

        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Correo</div>
          <div class="text-one">servicioalciudadano@sena.edu.co</div>
          <div class="text-two">aobando@sena.edu.co</div>
          <a href="https://soporte.cloudsenactpi.net/">Soporte sena</a>
        </div>
      </div>
      <div class="rigth-side">
        <div class="topic-text">Envia tu mensaje</div>
        <p>Comunicate con nosotros y dejanos saber tus inquietudes, peticiones, quejas o reclamos que surgan en cuanto a
          tu proceso de etapa productiva.</p>

        <form [formGroup]="contactoForm">
          <div class="input-box">
            <input formControlName="email" type="email" name="email" placeholder="Ingresa tu correo">
            <div class="text-danger"
              *ngIf="contactoForm.get('email')?.hasError('required') && contactoForm.get('email')?.touched">
              <span><strong> Obligatorio</strong></span>
            </div>
          </div>
          <div class="input-box asunto-box mt-4">
            <input formControlName="asunto" name="asunto" placeholder="Ingresa el asunto">
            <div class="text-danger"
              *ngIf="contactoForm.get('asunto')?.hasError('required') && contactoForm.get('asunto')?.touched">
              <span><strong> Obligatorio</strong></span>
            </div>
          </div>
          <div class="input-box message-box mt-4">
            <input formControlName="mensaje" name="message" placeholder="Ingresa el mensaje">
            <div class="text-danger"
              *ngIf="contactoForm.get('mensaje')?.hasError('required') && contactoForm.get('mensaje')?.touched">
              <span><strong> Obligatorio</strong></span>
            </div>
          </div>
          <div class="button">
            <button [disabled]="!contactoForm.valid || !contactoForm.dirty" class="buttonContacto" type="submit"
              (click)="enviar()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="" class="text-white"> <i class="fab fa-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="" class="text-white"> <i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="" class="text-white"> <i class="fab fa-google-plus"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="" class="text-white"> <i class="fab fa-youtube"></i></a>
      </li>
    </ul>
  </div>
  <!-- final contacto nuevo -->

</footer>

<!-- END FOOTER  -->

<!-- <div class="container text-center text-md-start">
     <div class="row text-center text-md-start">

       <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
         <h5 class="text-uppercase mb-4 font-weight-bold text-success">SUBTITULO</h5>
         <hr class="mb-4">
         <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor nulla magnam iusto, dolorum consequatur quae modi harum rerum dolorem provident ea? Consequuntur, asperiores ex at dolor hic porro neque!</p>
       </div>

       <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3">
         <h5 class="text-uppercase mb-4 font-weight-bold text-success">Dejanos ayudarte</h5>
         <hr class="mb-4">

         <p>
           <a href="" class="text-white">Tu cuenta</a>
         </p>

         <p>
           <a href="" class="text-white">Tus ordenes</a>
         </p>

         <p>
           <a href="" class="text-white">Manejo de cuenta</a>
         </p>

       </div>

       <div class="col-md-2 col-lg-4 col-xl-2 mx-auto mt-3">
         <h5 class="text-uppercase mb-4 font-weight-bold text-success">Contacto</h5>
         <hr class="mb-4">

         <p>
           <li class="fa fa-home mb-3 text-white"> Popayan</li>
           <li class="fa fa-envelope mb-3 text-white"> sena@.com</li>
           <li class="fa fa-phone mb -3 text-white"> 316266278</li>
         </p>
       </div>

       <hr class="mb-4">
       <div class="text-center text-white mb2">
         Copryrigth Todos los derechos reservados
       </div>
     </div>

     <div class="text-center">
       <ul class="list-unstyled list-inline">
         <li class="list-inline-item">
           <a href="" class="text-white"> <i class="fab fa-facebook"></i></a>
         </li>
         <li class="list-inline-item">
           <a href="" class="text-white"> <i class="fab fa-twitter"></i></a>
         </li>
         <li class="list-inline-item">
           <a href="" class="text-white"> <i class="fab fa-google-plus"></i></a>
         </li>
         <li class="list-inline-item">
           <a href="" class="text-white"> <i class="fab fa-youtube"></i></a>
         </li>
       </ul>
     </div>
 </div> -->