<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
          <input type="number" class="form-control" placeholder="Buscar por Identificacion Aprendiz"
            [(ngModel)]="filterIdentificacion" />
        </div>
        <div class="card">
          <div class="card-header card-header-sena-azul">
            <h4 class="card-title">Asignaciones</h4>
            <p class="card-category">
              En este apartado podrás ver todas las Asignaciones
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" *ngIf="assignments !== null">
                <thead class="text-verde-sena">
                  <th class="text-center">Aprendiz</th>
                  <th class="text-center">Centro de Formación</th>
                  <th class="text-center">Identificación</th>
                  <th class="text-center">Fecha Seguimiento Inicial</th>
                  <th scope="col" class="text-center">Fase</th>
                  <th scope="col" class="text-center">Responsable a Cargo</th>
                  <th scope="col" class="text-center">Seg 1</th>
                  <th scope="col" class="text-center">Seg 2</th>
                  <th scope="col" class="text-center">Seg 3</th>
                  <th class="text-center">Acciones</th>
                </thead>

                <tbody>
                  <tr class="text-center" *ngFor="
                      let assignment of assignments
                        | filterAssignments : filterIdentificacion
                        | paginate
                          : { itemsPerPage: 7, currentPage: pageActual }
                    ">
                    <td class="text-center">
                      {{ assignment.nombre_aprendiz }}
                      {{ assignment.apellido_aprendiz }}
                    </td>
                    <td class="text-center">
                      {{ assignment.nombre_centro }}
                    </td>
                    <td class="text-center">
                      {{ assignment.identificacion }}
                    </td>
                    <td class="text-center">
                      {{ assignment.fecha_seguimiento_inicial }}
                    </td>
                    <td class="text-center">
                      {{ assignment.estado_fase }}
                    </td>
                    <td class="text-center">
                      {{ assignment.nombre_usuario }}
                      {{ assignment.apellido_usuario }}
                    </td>

                    <td *ngIf="assignment.seg_1 == null" class="">
                      <div class="circulo-inicial parpadea offset-3" tooltip="El Seguimiento 1 esta en espera"
                        placement="bottom" showDelay="200"></div>
                    </td>

                    <td *ngIf="assignment.seg_1 == 'Aprobado'" tooltip="El Seguimiento 1 esta Aprobado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-aprobado parpadea offset-3"></div>
                    </td>

                    <td *ngIf="assignment.seg_1 == 'Atrasado'" tooltip="El Seguimiento 1 esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-atrasado parpadea offset-3"></div>
                    </td>

                    <td *ngIf="assignment.seg_1 == 'No estas Atrasado'" tooltip="El Seguimiento 1 no esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-noatrasado parpadea offset-3"></div>
                    </td>

                    <!-- /////////////////////////seg_1////////////////////////////////// -->
                    <td *ngIf="assignment.seg_2 == null" class="">
                      <div class="circulo-inicial parpadea offset-3" tooltip="El Seguimiento 2 esta en espera"
                        placement="bottom" showDelay="200"></div>
                    </td>

                    <td *ngIf="assignment.seg_2 == 'Aprobado'" tooltip="El Seguimiento 2 esta Aprobado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-aprobado parpadea offset-3"></div>
                    </td>

                    <td *ngIf="assignment.seg_2 == 'Atrasado'" tooltip="El Seguimiento 2 esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-atrasado parpadea offset-3"></div>
                    </td>

                    <td *ngIf="assignment.seg_2 == 'No estas Atrasado'" tooltip="El Seguimiento 2 no esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-noatrasado parpadea offset-3"></div>
                    </td>

                    <!-- /////////////////////////seg_2////////////////////////////////// -->

                    <td *ngIf="assignment.seg_3 == null" class="">
                      <div class="circulo-inicial parpadea offset-3" tooltip="El Seguimiento 3 esta en espera"
                        placement="bottom" showDelay="200"></div>
                    </td>

                    <td *ngIf="assignment.seg_3 == 'Aprobado'" tooltip="El Seguimiento 3 esta Aprobado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-aprobado parpadea offset-3"></div>
                    </td>
                    <td *ngIf="assignment.seg_3 == 'Atrasado'" tooltip="El Seguimiento 3 esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-atrasado parpadea offset-3"></div>
                    </td>
                    <td *ngIf="assignment.seg_3 == 'No estas Atrasado'" tooltip="El Seguimiento 3 no esta Atrasado "
                      placement="bottom" showDelay="200" class="">
                      <div class="circulo-noatrasado parpadea offset-3"></div>
                    </td>

                    <td class="text-center">

                      <div class="comtainer">
                      <i class="butonW" tooltip="Actualizar Asignacion" placement="bottom"
                        showDelay="200" [routerLink]="[
                          '/update-assignment/',
                          assignment.id_asignacion
                        ]">
                        <span class="fa-solid fa-pen-to-square "></span>
                      </i>

                      <i tooltip="Subir novedades del aprendiz {{
                        assignment.nombre_aprendiz
                      }}
                      {{ assignment.apellido_aprendiz }}" placement="bottom" showDelay="200" 
                      class=" text-dark butonW" [routerLink]="[
                        '/register-novedad/',
                        assignment.aprendiz_id
                      ]">
                      <span class="fa-solid fa-n"></span>
                    </i> 
                      
                      <i tooltip="Reasignar Aprendiz {{
                          assignment.nombre_aprendiz
                        }}
                        {{ assignment.apellido_aprendiz }}" placement="bottom" showDelay="200"
                        class=" butonW" (click)="reassign(assignment.id_asignacion)">
                        <!-- <i class="fa-solid fa-arrows-turn-to-dots text-primary"></i> -->
                        <span class="fa-solid fa-arrow-right-arrow-left text-success"></span>
                      </i>
                      <!-- <button
                        tooltip="Eliminar Asignacion"
                        placement="bottom"
                        showDelay="200"
                        class="btn offset-1 bg-transparent"
                        (click)="deleteAssignment(assignment.id_asignacion)"
                      >
                        <i class="fa-solid fa-trash text-danger"></i>
                      </button> -->
                      <i tooltip="Aprobar seguimientos del aprendiz {{ assignment.nombre_aprendiz }}
                        {{ assignment.apellido_aprendiz }}" placement="bottom" showDelay="200"
                        *ngIf="assignment.estado_fase == 'Asignado' && retroalimentacion"
                        class="butonW" [routerLink]="[
                          '/retroalimentacion/',
                          assignment.id_asignacion
                        ]">
                        <span class="fa-regular fa-circle-check text-success"></span>
                      </i>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5 *ngIf="assignments == null">
                No hay Asignaciones Registradas
              </h5>
              <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior  "
                nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>