.cursor-pointer1 {
    cursor: pointer;
}
.option{
    
}

.comtainer{
 
    display: flex;
    direction: column;
    cursor: pointer;
}

.butonW{
    margin: 10px;
    width: 40px ;
    height: auto;
   color: linear-gradient(90deg, #00324d 6%, #020024 94%) !important;
   cursor: pointer;
}