<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-sena-azul">
    <h4 class="card-title">Actualizar EPS</h4>
    <p class="card-category">Edita los datos de <strong>{{data_eps.nombre}}</strong></p>
  </div>
  <div class="card-body">
    <form [formGroup]="editarForm">
      <p hidden>{{ editarForm.status | json }}</p>
      
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre de la EPS" type="text" formControlName="nombre">
          </mat-form-field>
          <div class="text-danger">
            <label *ngIf="editarForm.get('nombre').hasError('required') && editarForm.get('nombre')?.touched">
              <strong class="text-danger">Campo requerido</strong>
            </label>
            <span *ngIf="editarForm.get('nombre').errors?.maxlength">
              <strong>máximo 100 caracteres</strong>
            </span>
          </div>
        </div>
        
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="NIT" type="text" formControlName="nit">
          </mat-form-field>
          <div class="text-danger">
            <label *ngIf="editarForm.get('nit').hasError('required') && editarForm.get('nit')?.touched">
              <strong class="text-danger">Campo requerido</strong>
            </label>
            <span *ngIf="editarForm.get('nit').errors?.pattern && editarForm.get('nit')?.touched">
              <strong>Solo se permiten números</strong>
            </span>
          </div>
        </div>
      </div>

      <button mat-raised-button type="submit" class="btn pull-right" (click)="PostForm(editarForm.value)">
        Actualizar
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
        </div>
        </div>
    </div>