<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card h-100">
                    <p class="text-center mt-5 m-0   titulo">Reporte de Aprendices</p>
                    <form [formGroup]="filtroFechas" (ngSubmit)="filtrar(filtroFechas.value)">
                        <div class="row col-12 d-flex mt-5">
                            <div class="col-md-6 col-6 d-flex justify-content-center">
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Elige una fecha Inicial</mat-label>
                                        <input formControlName="fecha_inicial" (ngModelChange)="validarFechas()"
                                            matInput [matDatepicker]="picker2" />
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 d-flex justify-content-center ">
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Elige una fecha Final</mat-label>
                                        <input formControlName="fecha_final" matInput [disabled]="fecha_condicion"
                                            [min]="fecha_ini" [matDatepicker]="picker3" />
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="p-1 d-flex align-items-center">
                                    <button [disabled]="filtroFechas.invalid" type="submit" class="btn text-white"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="mostrarDatos == true">
                        <div class="">
                            <div class="col-12 d-flex flex-wrap justify-content-center mt-5">
                                <button *ngIf=" mostrarTabla == 0" type="button" class="btn btn-outline-secondary"
                                    (click)="changeTable()">Ver Tabla</button>
                                <button *ngIf=" mostrarGraficas == 0" type="button" class="btn btn-outline-secondary"
                                    (click)="changeGraficas()">Ver Gráfica</button>
                            </div>
                        </div>
                        <!-- tabla -->
                        <div *ngIf=" mostrarTabla == 1" class="mt-3">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="col-lg-3 col-md-12 col-sm-12 ml-4 px-5">
                                    <div class="mt-5">
                                        <button
                                            class="btn btn-block ml-0 p-2 shadow-3 card-header-sena-azul">REPORTE</button>
                                    </div>
                                    <div class="mt-2">
                                        <div>
                                            <div>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Seleccione un Estado</mat-label>
                                                    <mat-select [(ngModel)]="filterFase">
                                                        <mat-option (click)="filtrarFases()"
                                                            value="{{ fases.id_estado_fase }}"
                                                            *ngFor="let fases of listFase"> {{fases.estado_fase}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <button (click)="exportExcel()"
                                        class="btn btn-block ml-0 p-2 shadow-3 text-white card-header-sena-azul">GENERAR
                                        REPORTE</button>
                                </div>
                                <div class="col-lg-8 d-flex col-12 mt-3  ml-3">
                                    <div class="w-100">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
                                                    </div>
                                                    <div class="card w-100">
                                                        <div class="card-header card-header-sena-azul">
                                                            <div>
                                                                <div class="text-center">
                                                                    <h5 class="card-title">Aprendices</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="text-success">
                                                                        <th scope="col">Identificación</th>
                                                                        <th scope="col">Nombres</th>
                                                                        <th scope="col">Apellidos</th>
                                                                        <th scope="col">Estado</th>
                                                                        <th scope="col">Usuario Responsable</th>
                                                                        <th scope="col">Contrato Inicio</th>
                                                                        <th scope="col">Contrato Fin</th>
                                                                        <th scope="col">ACCIONES</th>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let aprendiz of listarAprendicesFiltrado
                                                                        | paginate: { itemsPerPage: 2, currentPage: pageActual }
                                                                        ">
                                                                            <td>{{aprendiz.identificacion}}</td>
                                                                            <td>{{aprendiz.nombre_aprendiz}}</td>
                                                                            <td>{{aprendiz.apellido_aprendiz}}</td>
                                                                            <td>{{aprendiz.estado_fase}}</td>
                                                                            <td>{{aprendiz.nombre_usuario +' '+
                                                                                aprendiz.apellido_usuario}}</td>
                                                                            <td>{{aprendiz.contrato_inicio}}</td>
                                                                            <td>{{aprendiz.contrato_fin}}</td>
                                                                            <td class="text-center" >
                                                                                <i   [routerLink]="['/informacion-aprendiz/', aprendiz.id_aprendiz]"
                                                                                    class="fa-sharp fa-solid fa-eye pointer"  ></i>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>

                                                                </table>
                                                                <h4 *ngIf="listarAprendicesFiltrado == null">No hay
                                                                    datos
                                                                    aun</h4>
                                                                <pagination-controls (pageChange)="pageActual = $event"
                                                                    previousLabel="Anterior  "
                                                                    nextLabel="Siguiente"></pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- graficas -->

                        <div class="container">
                            <div class="row">
                                <div *ngIf=" mostrarGraficas == 1" class="card-body col-12">
                                    <div class="row mt-2 d-flex flex-wrap  col-12">
                                        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center"
                                            style="height:60vh; width:40vh;">
                                            <canvas>{{chart}}</canvas>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-end"
                                            style="height:30vh; width:40vh;">
                                            <canvas>{{chart2}}</canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>