.avatar {
    border-radius: 50%;
     
     /* border-top-left-radius: 50% 50%;
     border-top-right-radius: 70% 70%;
     border-bottom-right-radius: 50% 50%;
     border-bottom-left-radius: 70% 70%; */
    height: 7rem;
    width: 7rem;
}

.active a {
    background-color: #00324D !important;
    -webkit-box-shadow: 10px 10px 42px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 42px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 42px -15px rgba(0, 0, 0, 0.75) !important;
}

.parrafo {
    color: black !important;
    /* font-family: 'Cascadia Code'; */
    font-size: 15px !important;
}

.parrafo2 {
    color: black !important;
    /* font-family: 'Cascadia Code'; */
    font-size: 14px !important;
}
.click {
    cursor: pointer;
}

.sidebar-wrapper {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 6px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: sticky;
  top: 0;
  z-index: 10;
}