<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <p class="text-center mt-5 m-0   titulo">Documentos por certificar</p>
                    <!-- select -->
                    <div class="col-12 d-flex justify-content-center">
                        <div class="mt-3 col-sm-6 col-md-4 col-lg-3 p-2 col-12">
                            <!-- <h4>Registrar el programa</h4> -->
                            <label class="mt-2 font-weight-bold">
                                REQUISITOS
                                <span class="text-danger">*</span>:
                            </label>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione el requisito</mat-label>
                                    <mat-select formControlName="id_requisito_cert" [(ngModel)]="id_req">
                                        <mat-option value="{{ requisito.id_requisito_cert }}"
                                            (click)="id_req =requisito.id_requisito_cert"
                                            *ngFor="let requisito of listRequisitos"> {{requisito.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="card-body col-12 d-flex flex-row flex-wrap justify-content-lg-center m-2 px-2">
                        <!-- primero:) -->
                        <div *ngIf="id_req == 1" class="col-xl-5 d-flex col-12">
                            <div class="w-100">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
                                            </div>
                                            <div class="card">
                                                <div class="card-header card-header-sena-azul">
                                                    <div>
                                                        <h4 *ngIf="aprobado == true">Evidencia carnet destruido aprobada
                                                        </h4>
                                                    </div>
                                                    <div *ngIf="aprobado != true">
                                                        <div class="text-center">
                                                            <h5 class="card-title">Evidencia carnet destruido</h5>
                                                        </div>
                                                        <div
                                                            class="col-md-12 justify-content-center flex-row flex-wrap">
                                                            <!-- <label>Adjuntar Archivo</label> -->
                                                            <input hidden (ngModel)="file" #fileInput type="file"
                                                                id="file" (change)="getFile($event)" multiple="false"
                                                                #document accept=".pdf">
                                                            <div class="d-flex col-8 justify-content-between">
                                                                <button class="btn" (click)="fileInput.click()"><i
                                                                        class="material-icons">file_open</i></button>
                                                                <div *ngIf="nombreDoc != null" class="mt-3 ml-2">
                                                                    <span>Documento</span>:<h6>{{nombreDoc}}</h6>
                                                                </div>
                                                                <button *ngIf="docValido == true"
                                                                    class="btn btn-primary mt-3"
                                                                    (click)="sendFile(1)">ENVIAR</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col">Estado</th>
                                                                    <th scope="col">Accion</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let datos of listDocumentos">
                                                                    <td>{{datos.nombre}}</td>
                                                                    <td>{{datos.estado}}</td>
                                                                    <td class="text-center" tooltip="Ver Documento">
                                                                        <i   (click)="open(content , datos.documento_id)"class="fa-sharp fa-solid fa-eye pointer" tooltip="Ver Documento"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div *ngIf="listDocumentos == null">
                                                            <h4>Sin documentos</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- dos -->
                        <div *ngIf="id_req == 2" class="col-xl-5 d-flex col-12">
                            <div class="w-100">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
                                            </div>
                                            <div class="card">
                                                <div class="card-header card-header-sena-azul">
                                                    <div>
                                                        <h4 *ngIf="aprobado2 == true">Pruebas TyT aprobado</h4>
                                                    </div>
                                                    <div *ngIf="aprobado2 != true">
                                                        <div class="text-center">
                                                            <h5 class="card-title">Pruebas TyT</h5>
                                                        </div>
                                                        <div
                                                            class="col-md-12 justify-content-center flex-row flex-wrap">
                                                            <!-- <label>Adjuntar Archivo</label> -->
                                                            <input hidden #fileInput type="file" id="file2"
                                                                (change)="getFile($event)" multiple="false" #document
                                                                accept=".pdf">
                                                            <div class="d-flex col-8 justify-content-between">
                                                                <button class="btn" (click)="fileInput.click()"><i
                                                                        class="material-icons">file_open</i></button>
                                                                <div *ngIf="nombreDoc != null" class="mt-3 ml-2">
                                                                    <span>Documento</span>:<h6>{{nombreDoc}}</h6>
                                                                </div>
                                                                <button *ngIf="docValido == true"
                                                                    class="btn btn-primary mt-3"
                                                                    (click)="sendFile(2)">ENVIAR</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col">Estado</th>
                                                                    <th scope="col">Accion</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let datos2 of listDocumentos2 ">
                                                                    <td>{{datos2.nombre}}</td>
                                                                    <td>{{datos2.estado}}</td>
                                                                    <td class="text-center">
                                                                        <i tooltip="Ver Documento" (click)="open(content , datos2.documento_id)" class="fa-sharp fa-solid fa-eye pointer"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div *ngIf="listDocumentos2 == null">
                                                            <h4>Sin documentos</h4>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tres -->
                        <div *ngIf="id_req == 3" class="col-xl-5 d-flex col-12">
                            <div class="w-100">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
                                            </div>
                                            <div class="card">
                                                <div class="card-header card-header-sena-azul">
                                                    <div>
                                                        <h4 *ngIf="aprobado3 == true">Documento de Identidad aprobado
                                                        </h4>
                                                    </div>
                                                    <div *ngIf="aprobado3 != true">
                                                        <div class="text-center">
                                                            <h5 class="card-title">Documento de Identidad</h5>
                                                        </div>
                                                        <div
                                                            class="col-md-12 justify-content-center flex-row flex-wrap">
                                                            <!-- <label>Adjuntar Archivo</label> -->
                                                            <input hidden #fileInput type="file" id="file2"
                                                                (change)="getFile($event)" multiple="false" #document
                                                                accept=".pdf">
                                                            <div class="d-flex col-8 justify-content-between">
                                                                <button class="btn" (click)="fileInput.click()"><i
                                                                        class="material-icons">file_open</i></button>
                                                                <div *ngIf="nombreDoc != null" class="mt-3 ml-2">
                                                                    <span>Documento</span>:<h6>{{nombreDoc}}</h6>
                                                                </div>
                                                                <button *ngIf="docValido == true"
                                                                    class="btn btn-primary mt-3"
                                                                    (click)="sendFile(3)">ENVIAR</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col">Estado</th>
                                                                    <th scope="col">Accion</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let datos3 of listDocumentos3 ">
                                                                    <td>{{datos3.nombre}}</td>
                                                                    <td>{{datos3.estado}}</td>
                                                                    <td class="text-center">
                                                                        <i tooltip="Ver Documento" (click)="open(content , datos3.documento_id)" class="fa-sharp fa-solid fa-eye pointer"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div *ngIf="listDocumentos3 == null">
                                                            <h4>Sin documentos</h4>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- cuatro -->
                        <div *ngIf="id_req == 4" class="col-xl-5 d-flex col-12">
                            <div class="w-100">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-lg-5 col-xl-3 mt-2 pb-3">
                                            </div>
                                            <div class="card">
                                                <div class="card-header card-header-sena-azul">
                                                    <div>
                                                        <h4 *ngIf="aprobado4 == true">Certificacion etapa productiva
                                                            aprobada</h4>
                                                    </div>
                                                    <div *ngIf="aprobado4 != true">
                                                        <div class="text-center">
                                                            <h5 class="card-title">Certificacion etapa productiva</h5>
                                                        </div>
                                                        <div
                                                            class="col-md-12 justify-content-center flex-row flex-wrap">
                                                            <!-- <label>Adjuntar Archivo</label> -->
                                                            <input hidden #fileInput type="file" id="file2"
                                                                (change)="getFile($event)" multiple="false" #document
                                                                accept=".pdf">
                                                            <div class="d-flex col-8 justify-content-between">
                                                                <button class="btn" (click)="fileInput.click()"><i
                                                                        class="material-icons">file_open</i></button>
                                                                <div *ngIf="nombreDoc != null" class="mt-3 ml-2">
                                                                    <span>Documento</span>:<h6>{{nombreDoc}}</h6>
                                                                </div>
                                                                <button *ngIf="docValido == true"
                                                                    class="btn btn-primary mt-3"
                                                                    (click)="sendFile(4)">ENVIAR</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col">Estado</th>
                                                                    <th scope="col">Accion</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let datos4 of listDocumentos4 ">
                                                                    <td>{{datos4.nombre}}</td>
                                                                    <td>{{datos4.estado}}</td>
                                                                    <td class="text-center">
                                                                        <i  tooltip="Ver Documento" (click)="open(content , datos4.documento_id)" class="fa-sharp fa-solid fa-eye pointer"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div *ngIf="listDocumentos4 == null">
                                                            <h4>Sin documentos</h4>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header d-flex">
      <h4 class="" id="modal-basic-title">PDF</h4>
      <div
        class="cursor-pointer"
        aria-label="Close"
        (click)="modal.dismiss('Back click')"
      >
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="modal-body" style="height: 80vh">
      <div class="container d-flex justify-content-center">
        <iframe
          [src]="safeSrc"
          style="height: 80vh; width: 100%"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center ">
        <!-- <i *ngIf="datos.estado_documento == 'Por Aprobar'" 
        (click)="cambiarEstadoDoc('Aprobado',datos.id_bitacora,datos.tipo_seguimiento_id)"
        class="fa-regular fa-circle-check text-success offset-2 btn-lg cursor" 
        tooltip="Aprobar"
        placement="bottom"
        showDelay="200"
        ></i>
        <i *ngIf="datos.estado_documento == 'Por Aprobar'"
        (click)="cambiarEstadoDoc('No aprobado',datos.id_bitacora,datos.tipo_seguimiento_id)"
        class="fa-solid fa-xmark text-danger offset-2 btn-lg cursor"
        tooltip="No Aprobar"
        placement="bottom"
        showDelay="200"
        ></i> -->
    </div>
  </ng-template>